* {
	box-sizing: border-box;
}

body {
	background-image: url("https://github.com/adelrio89/codecademy/blob/main/Projects/HTML/project-support-report/fondo_reporte.jpg?raw=true");
  	background-repeat: repeat;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	font-family: Calibri;
}

header {
	background-color: rgba(255,255,255);
	border-radius: 15px;
	margin: 20px 0;
	width: 100%;
}

header h1 {
	text-align: center;
}

main {
	background-color: rgba(255,255,255);
	border-radius: 15px;
	padding: 20px 20px;
}

footer {
	background-color: rgba(255,255,255);
	border-radius: 15px;
	padding: 10px 10px;
	margin: 20px 0px;
	width: 100%;
	text-align: center;
}

ul	{
	text-align: center;
}

li {
	display: inline;
}

table, tr, td {
	border: 0.1px dotted blue;
	align-items: center;
	text-align: center;
}

.header-col {
	float: left;
	width: 33.33%;
	padding: 0;
	text-align: center;
}

.header-row::after {
  content: "";
  clear: both;
  display: table;
}

#sigse, #softexpert {
	width: 200px;
	height: 100px;
}


